.image-card {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: aliceblue;
    border-radius: 10px;
    /* margin-right: 30px; */
    margin-bottom: 30px;
    box-shadow: 5px 5px 6px rgb(63, 62, 62);
    width: 20rem;
}

.grip-article {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}



.body-card {
    padding: 20px;
}

.title-card {
    font-size: 18;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-card {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

@media screen and (max-width : 1115px) {
    .card {
        background-color: aliceblue;
        border-radius: 10px;
        /* margin-right: 30px; */
        margin-bottom: 30px;
        box-shadow: 5px 5px 6px rgb(63, 62, 62);
        width: 40rem !important;

    }

    .grip-article {
        width: 100%;
        flex-direction: row;
        justify-content: center !important;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
    }
}

@media screen and (max-width : 1660px) {
    .card {
        background-color: aliceblue;
        border-radius: 10px;
        /* margin-right: 30px; */
        margin-bottom: 30px;
        box-shadow: 5px 5px 6px rgb(63, 62, 62);
        width: 20rem;

    }

}

@media screen and (max-width : 1390px) {
    .card {
        background-color: aliceblue;
        border-radius: 10px;
        /* margin-right: 30px; */
        margin-bottom: 30px;
        box-shadow: 5px 5px 6px rgb(63, 62, 62);
        width: 16rem;

    }

}