.all {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

}

.layout {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 20px;
    /* background-color: rgb(33, 93, 121); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.margin {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    /* flex-direction: column; */
    /* background-color: aqua; */
    /* border-radius: 20px; */
    /* margin-top: 30px; */
}

.image-deerah {

    width: 100%;
    height: 500px;
    display: flex;
    margin-bottom: 10px;
    /* border-radius: 20px; */
}

.article {
    margin-top: 20px;
    width: 70%;
    margin-bottom: 30px;
}

.article-caption {
    font-weight: bold;
    font-size: 20px;
}

.carousel-Caption {
    background-color: rgba(0, 0, 0, 0.185);
}

.title-article {
    color: black;
    font-size: 28px;
    font-weight: bold;
    /* margin-bottom: 30px; */
}

.title-article-struktur {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
    /* margin-bottom: 30px; */
}

.title-real-in-main-page {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* display: flex; */
    /* height: 100%; */
    /* background-color: beige; */
}

hr {
    width: 350px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    background-color: #666;
}

.see-more {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;

}

.icon-div-center {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 1px;
}


.sub-article {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* background-color: aqua; */

}

.see-more-botton {
    background-color: rgb(33, 93, 121);
    padding: 5px;
    padding-left: 5px;
    padding-right: 10px;
    flex-direction: row;
    display: flex;
    height: max-content;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.see-more-botton:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.sub-tentang {
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    display: flex;
}

.header-logo {
    height: 30px;
    height: 30px;
}

.layout-aparat {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(33, 93, 121);
}

.tentang-text {
    /* color: rgb(255, 255, 255); */
    font-size: 18px;
    font-weight: 500;
    text-align: justify;

}

.aricle-in {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 935px) {
    .flex1 {
        width: 30%;
        justify-content: flex-end;
        display: none;
        /* background-color: aquamarine; */
    }

    .flex3 {
        width: 100%;
        display: flex;
        /* background-color: aqua; */
    }

}

@media (max-width: 500px) {
    .image-deerah {
        height: 300px !important;
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}