.sub-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    /* background-color: aqua; */
}



.header-all {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
}



.header-logo {
    display: flex;

    height: 150px;
}

.contac {
    align-items: center;
    justify-content: center;
    display: flex;
}

.telepon {
    flex-direction: row;
    display: flex;
    margin-right: 30px;
}

.telepon-logo {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    color: rgb(45, 168, 20);

}

.email-logo {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    color: rgb(196, 46, 0);

}

.text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}

.title-contact {
    font-size: 14px;
    font-weight: bold;
    color: rgb(3, 70, 196);
    margin-bottom: 10px;
}

.info-contact {
    font-size: 20px;
}

.email {
    flex-direction: row;
    display: flex;
}

@media screen and (max-width: 960px) {
    .sub-header {
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        /* width: 70%; */
    }

    .header-logo {
        display: flex;

        height: 200px !important;
        width: 200px;
        margin: 10px;
    }

    .telepon-logo {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        color: rgb(45, 168, 20);

    }

    .email-logo {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        color: rgb(196, 46, 0);

    }

    .info-contact {
        font-size: 16px;
    }

    .title-contact {
        font-size: 14px;
        font-weight: bold;
        color: rgb(3, 70, 196);
        margin-bottom: 2px;
    }

}